### Programming Assignment 2 on Chapter 2, Jonathan Penaloza, Version 1, Spring 2023

In [9]:
floating_number = float(input("Give me a float number: "))

Give me a float number: 44.3

In [10]:
int_numb = int(input("Give me a float number: "))

Give me a float number: 16

In [11]:
sum = floating_number + int_numb

In [12]:
print(sum)

60.3

In [20]:
sub = floating_number - int_numb
print("The difference is: ", sub)

The difference is:  28.299999999999997

In [21]:
product = int_numb*floating_number
print("The product is", product)

The product is 708.8

In [24]:
quotient = floating_number/int_numb
print("The quotient", quotient)

The quotient 2.76875

In [27]:
print("The type for the result is", type(quotient))

The type for the result is <class 'float'>